* {
  font-family: 'Overpass', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(216, 12%, 8%);
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
}

.logo {
  font-size: 32px;
  color: #fff;
}

.bi-book-half {
  font-size: 28px;
  color: #fff;
}

.heading {
  position: absolute;
  top: 15vh;
  margin-bottom: 10px;
  text-align: center;
  font-size: 42px;
}

.alert {
  text-align: center;
  color: #fff;
  background: hsla(25, 97%, 53%, 0.879);
  width: 60%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
}

.highlight {
  color: hsl(25, 97%, 53%);
}

.book-table {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%) scale(0);
  transition: 0.5s ease-in-out;
}

.book-table.active {
  transform: translateY(-50%) scale(1);
}

table {
  font-size: 15px;
  border-collapse: collapse;
  background-color: hsl(212, 12%, 24%);
  width: 90vw;
}

th,
td {
  padding: 10px 15px;
  text-align: left;
}

th {
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
}

tr:nth-of-type(even) {
  background-color: hsl(213, 19%, 18%);
}

.table-footer {
  text-align: center;
  background: hsl(213, 19%, 18%);
}

.input-books {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%) scale(0);
  transition: 0.5s ease-in-out;
}

.input-books.active {
  transform: translateY(-50%) scale(1);
}

#add-book {
  display: flex;
  align-self: center;
  background-color: hsl(213, 19%, 18%);
  padding: 20px;
  font-size: 18px;
  width: 80vw;
  flex-direction: column;
  border-radius: 13px;
  margin-bottom: 50px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

input {
  background-color: hsl(212, 12%, 24%);
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 8px 10px;
}

button {
  padding: 10px 20px;
  background: hsl(25, 97%, 53%);
  border: 0;
  color: #fff;
  border-radius: 16px;
  width: fit-content;
  cursor: pointer;
  align-self: flex-end;
}

.remove-btn {
  font-size: 18px;
  color: hsl(25, 97%, 53%);
  text-decoration: none;
}

.nav-btns {
  position: absolute;
  bottom: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.see-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  color: hsl(25, 97%, 53%);
}

.contact {
  font-size: 15px;
  padding: 15px;
  display: flex;
  align-self: center;
  align-items: center;
}

.contact-info{
  width: 80vw;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%) scale(0);
  transition: 0.5s ease-in-out;
}
.contact-info.active{
  transform: translate(-50%,-50%) scale(1);
}
.contact-detail{
  font-size: 24px;
  margin-bottom: 20px;
}
.contact-options li {
  margin-bottom: 10px;
}
.contact-options li a{
  color: hsl(25, 97%, 53%);
  text-decoration: none;
}

@media (min-width: 820px) {
  table {
    width: 30vw;
  }

  #add-book {
    width: 25vw;
  }
  .contact-info{
    width: 30vw;
  }
}
